.tracking-view-container {
    flex: 1 1 auto;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    flex-direction: row;
    background-color: rgb(53, 53, 53);
    user-select: none;
    padding: 2rem;
}

.tracking-title {
    font-size: 1.8rem;
    font-weight: bold;
}

.packages-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 20px;
    background-color: rgb(24, 24, 24);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 100%;
}

.packages-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
}