.tracking-view-container {
    flex: 1 1 auto;
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    color: white;
    background-color: rgb(53, 53, 53);
    padding: 2rem;
    overflow: hidden;
    user-select: none;
}

.tracking-title {
    font-size: 1.4rem;
    font-weight: bold;
}

.packages-container {
    height: 100%;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 20px;
    background-color: rgb(24, 24, 24);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.packages-list {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

.order-container {
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column-reverse;
}