.tabbar-list {
    padding-left: 0;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}