.tabbar-item {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    margin-top: 1rem;
    padding: 0.7rem;
    user-select: none;
    border-radius: 100rem;
}

.tabbar-button {
    background-color: transparent;
    border: 0;
    user-select: none;
    color: white;
}

.tabbar-item:hover {
    cursor: pointer;
    background-color: rgb(201, 83, 75);
}

.tabbar-button:hover {
    cursor: pointer;
}

.bottom-container .tabbar-item {
    background-color: rgb(39, 39, 39);
}