.tabbar-item {
    user-select: none;
    border-radius: 100%;
}

.tabbar-button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabbar-item svg {
    padding: 0.9rem;
}

.tabbar-item:hover {
    cursor: pointer;
    background-color: rgb(65, 65, 65);
}

.bottom-container .tabbar-item {
    background-color: rgb(39, 39, 39);
}

.selected {
    background-color: rgb(158, 16, 6);
}