html, body {
    height: 100%;
    margin: 0;
    font-family: Helvetica;
}

#root {
    height: 100%;
}

.app-container {
    display: flex;
    height: 100%;
    background-color: rgb(0, 0, 0);
}

.content-container {
    flex: 1 1 auto;
}

.icon {
    width: 2rem;
    pointer-events: none;
    user-select: none;
}